# зависимости
/node_modules

# тесты
/coverage

# продакшн-сборка
/.next
/out

# разное
.DS_Store
.env
.env.*.local
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

# локальные файлы
*.local

# TypeScript
*.tsbuildinfo

# редакторы
.idea/
*.swp
.vscode/
*.sublime-project
*.sublime-workspace
